body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mainContainer {
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(223, 202, 160);
}

.NavBar {
  background-color: rgb(221, 161, 94);
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  text-align: center;
}

.Cards {
  background-color: rgb(223, 202, 160);
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 
  text-align: center; 
}

.Footer {
  background-color:  rgb(221, 161, 94); 
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  text-align: center; 
  position: fixed;
  bottom: 0;
}
